body {
  
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    margin: 0;
    
}

a {
  color: #00B7FF;
}

h1 {
  margin: 0;
  background-color: #e0d4d4;
  border: 2px dashed grey ;
  border-radius: 15px;
  padding-left: 10px;
  padding-right: 10px;
  width: fit-content;
}

.heading-wrapper {
  background-color: #e0d4d4;
  width: fit-content;
    margin-left: 20px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 20px;
    padding: 5px 5px;
}

h1:hover {
  text-shadow: 2px 2px 15px;
}

ul {
  display: inline;
  position: absolute;
  left: 80%
}

p {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  position: relative;
    top: -30px;
}

li {
  padding: 0 10px 0 10px;
  display: inline;
  background: #e3e3e3;
  border: solid #f2f2f2 2px;
  border-radius: 10px;
}

li:hover {
  color: white;
  background-color: black;
}

.content {
  padding: 50px;
  border: solid darkgrey 2px;
  margin: 10px 20rem;
  border-radius: 50px;
  position: relative;
  background-color: #e0d4d4;
  opacity: .9;
}

.gobutton {
  width: 30px;
  height: 35px;
  overflow: hidden;
  font-size: 29px;
  border: solid 1px;
  border-radius: 20px;
  padding-top: 0px;
  padding-bottom: 0px;
  position: absolute;
  left: 45%;
  top:50%;
  /* -webkit-transition:width 5s; */
}

.gobutton:hover {
  /* overflow: visible; */
  width: auto;
  color: white;
  background-color: black;
  transition-duration: 1s;
}

.nav-bar {
    position: relative;
    padding: 5px 0;
    background-color: darkgray;
    border-top-left-radius: 45%;
    border-bottom-right-radius: 45%;
    border-bottom-left-radius: 10%;
    border-top-right-radius: 10%;
    margin-top: 10px;
}

